{
    "web": {
        "auth_uri": "https://auth.mozilla.auth0.com/authorize",
        "issuer": "https://auth.mozilla.auth0.com/",
        "client_id": "",
        "client_secret": "",
        "redirect_uris": [
            "https://peaceful-stream-36350.herokuapp.com/redirect_url"
        ],
        "token_uri": "https://auth.mozilla.auth0.com/oauth/token",
        "userinfo_uri": "https://auth.mozilla.auth0.com/userinfo"
    }
}
